html {
  background: lightgrey;
}
header {
  text-align: center;
  background: lightblue;
  color: white;
  padding: 2rem;
}
header input {
  color: black;
  padding: .5rem;
}
.results-area {
  background: #404040;
  padding: 2rem;
}
